<div *ngFor="let p of windowService.patients" class="mb-1 date">
    <h4>{{ p.petName }}</h4>
    <p><b>Propietario:</b> {{ p.petName }}</p>
    <p><b>Teléfono:</b> {{ p.phone }}</p>
    <p><b>Fecha:</b> {{ p.date }}</p>
    <p><b>Hora:</b> {{ p.time }}</p>
    <p><b>Síntomas:</b> {{ p.symptoms }}</p>

    <div class="btnGroup flex mt-1 gap-1">
        <button class="btn btn--error" (click)="windowService.removeDate(p.id)">
            <p>Eliminar</p>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </button>
        
        <button 
            class="btn btn--success"
            (click)="windowService.editTarget(p.id)"    
        >
            <p>Editar</p>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
            </svg>
        </button>
    </div>

</div>
