<form>
    <div class="flex col-center mb-1">
        <p>Nombre Mascota:</p>
        <input
            type="text"
            placeholder="Nombre Mascota"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Propietario</p>
        <input
            type="text"
            placeholder="Nombre Dueño de la Mascota"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Teléfono</p>
        <input
            type="text"
            placeholder="Teléfono"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Fecha:</p>
        <input
            type="date"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Hora:</p>
        <input
            type="time"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Sintomas:</p>
        <textarea
        ></textarea>
    </div>
    <button type="submit">CREAR CITA</button>
</form>
