<form (ngSubmit)="
    windowService.isEdit 
    ? windowService.confirmEditTarget(windowService.patient.id) 
    : windowService.newPatient()
">
    <div class="flex col-center mb-1">
        <p>Nombre Mascota:</p>
        <input
            type="text"
            placeholder="Nombre Mascota"
            name="petName"
            [(ngModel)]="windowService.patient.petName"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Propietario</p>
        <input
            type="text"
            placeholder="Nombre Dueño de la Mascota"
            name="owner"
            [(ngModel)]="windowService.patient.owner"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Teléfono</p>
        <input
            type="text"
            placeholder="Teléfono"
            name="phone"
            [(ngModel)]="windowService.patient.phone"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Fecha:</p>
        <input
            type="date"
            name="date"
            [(ngModel)]="windowService.patient.date"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Hora:</p>
        <input
            type="time"
            name="time"
            [(ngModel)]="windowService.patient.time"
        >
    </div>
    <div class="flex col-center mb-1">
        <p>Sintomas:</p>
        <textarea
            name="symptoms"
            [(ngModel)]="windowService.patient.symptoms"
        ></textarea>
    </div>
    
    <button type="submit">
        {{ windowService.isEdit ? "Editar Cita" : "Crear Cita" }}
    </button>
</form>
